@charset "utf-8";



/* 헤더 */
#header {
    width: 100%;
    height: 10vh;
    background-color: #111;
    margin: auto;
}



#mainVisual {
    width: 100%;
    height: 180vh;
    background-color: #fff;
}



/*  top */
#top {
    width: 90vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, .1);
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}
#topImg {
    width: 40%;
    height: 60vh;
    background-color: #fff;
    


}

/* bottom */
    #bottom {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .1);
        border-top: 1px solid red;
    }

#bottomWrap {
    width: 90vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    margin: auto;
}












.paragraph {
    width: 40%;
    height: 15%;
    background-color: rgba(0, 0, 0, .1);
    border: 1px solid #fff;
    cursor: pointer;
}



/* footer */
#textWhite > p {
    color: #fff;
}